@import "../mixins.less";

.button {
  font: inherit;
  background: #68b738;
  padding: 14px 70px;
  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  .centerer();
}
