.button {
  font: inherit;
  background: #68b738;
  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  text-decoration: none;

  &:hover {
    color: #ffffff;
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

.button--show-more {
  color: black;
  background-color: #f2f2f2;
  width: 100%;
  display: block;
  padding: 8px 0;

  &:hover {
    color: #111111;
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
    background-color: #ebebeb;
  }

  @media (min-width: @tablet-width) {
    width: 246px;
    position: absolute;
    top: 350px;
    left: 41px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
    top: 350px;
    left: 37px;
  }
}

.button--upload-items {
  align-self: center;
  font-size: 0;
  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  text-decoration: none;
  width: 30px;
  height: 30px;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 60px;
    top: 50px;
    left: 133px;
    height: 60px;
  }

  @media (min-width: @desktop-width) {
    top: 54px;
    left: 93px;
  }
}
