.cat-info {
  border: 0;
  padding: 0;

  div {
    @media (min-width: @tablet-width) {
      margin-bottom: 20px;
    }
  }
}

.cat-info__weight {
  label {
    margin-right: 17px;
    @media (min-width: @tablet-width) {
      margin-right: 22px;
    }
  }
}
