.catalog-item__button {
  margin: 0;
  width: 280px;
  padding-left: 108px;
  padding-right: 108px;
}

.catalog-item__description {
  font-family: "Arial", "Helvetica", sans-serif;
}

.catalog-item__link {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.catalog-item__text {
  margin-bottom: 23px;
}
