.comment {
  border: 0;
  padding: 0;
}

.comment__info {
  width: 280px;
  height: 150px;
  text-transform: uppercase;
  padding-top: 16px;
  text-align: center;
  border-style: dotted;
  border-color: #e6e6e6;

  @media (min-width: @tablet-width) {
    width: 630px;
    height: 170px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    height: 170px;
  }
}
