.form {
  .form-centerer();
}

.form__comment {
  margin-bottom: 30px;
}

.form__diet-choice {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 18px;

  .form__label {
    margin-right: 0;
    margin-top: -18px;
  }
}

.form__extra {
  margin-bottom: 34px;
}

.form__instructions {
  text-transform: uppercase;
}

.form__label {
  margin-right: 18px;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form__legend {
  padding-top: 24px;
  padding-left: 80px;
}

.form__text {
  border-style: dotted;
  border-color: #e6e6e6;
  flex-grow: 1;
  padding: 15px 15px;
}

.form__action {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
