.main-nav {
  display: flex;
  justify-content: space-around;
}

.main-nav__icon--logo {
  margin-top: 13px;
  width: 34px;
  height: 38px;
}

.main-nav__icon--text {
  margin-top: 25px;
  width: 103px;
  height: 19px;
}

.main-nav__logo {
  text-decoration: none;
}
