.page-catalog__item {
  @media (min-width: @tablet-width) {
    margin-bottom: 6px;
    width: 320px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-right: 60px;
    margin-bottom: 20px;
  }
}

.page-catalog__products-list {
  .container();
  width: 280px;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    position: relative;
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 46px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 79px;
  }
}

.page-catalog__more {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 11px;
  padding-bottom: 38px;
  padding-top: 27px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 13px;
    height: 1px;
    width: 100vw;
    background-color: #ededed;

    @media (min-width: @tablet-width) {
      height: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 13px;
    height: 1px;
    width: 100vw;
    background-color: #ededed;

    @media (min-width: @tablet-width) {
      height: 0;
    }
  }

  @media (min-width: @tablet-width) {
    margin-top: 157px;
    border: 1px solid #ededed;
    width: 293px;
    padding-right: 30px;
    top: -11px;
    height: 364px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    margin-top: 115px;
    height: 365px;
    margin-bottom: 10px;
    width: 213px;
    top: 29px;
  }
}


.page-catalog__addition {
  .container();
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 1220px;
    padding-left: 0;
  }
}

.page-catalog {
  margin-bottom: 3px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    margin-top: -18px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 13px;
  }
}
