.proof {
  position: relative;
  background-color: #f2f2f2;
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    .container();
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 2px;
  }
}

.proof__info {
  @media screen and (min-width: @tablet-width) {
    padding-bottom: 100px;
    background-color: white;
  }
}

.proof__title {
  color: black;
  padding-top: 18px;
  margin-bottom: 28px;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  @media screen and (min-width: @tablet-width) {
    width: 708px;
    margin-top: 24px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: @desktop-width) {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    margin-top: -3px;
    margin-bottom: 75px;
  }
}

.proof__text {
  font-family: "Arial", "Helvetica", sans-serif;
  padding-right: 2px;
  line-height: 18px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 55px;
    width: 700px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    padding-left: 37px;
    padding-top: 57px;
    padding-right: 115px;
    margin-bottom: 54px;
  }
}

.proof__group {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    padding-top: 16px;
    padding-left: 38px;
  }
}

.proof__img {
  width: 320px;
  max-width: 100%;

  @media screen and (min-width: @tablet-width) {
    position: absolute;
    left: 50%;
    margin-left: -306px;
    margin-bottom: 33px;
    bottom: 110px;
    width: 635px;
    height: 517px;
  }

  @media (min-width: @desktop-width) {
    top: -10px;
    margin-left: -11px;
    bottom: 66px;
  }
}

.proof__img--before {
  margin-top: 35px;
  content: url("../img/before-mobile@1x.png");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    content: url("../img/before-mobile@2x.png");
  }


  @media screen and (min-width: @tablet-width) {
    width: 686px;
    content: url("../img/before-tablet@1x.png");
    margin-top: 0;
    top: 449px;
    margin-left: -336px;
    z-index: 2;
    clip: rect(0, 337px, 517px, 0);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      content: url("../img/before-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    content: url("../img/before-desktop@1x.png");
    top: -59px;
    margin-left: -40px;
    clip: rect(0, 364px, 517px, 0);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      content: url("../img/before-desktop@2x.png");
    }
  }
}

.proof__img--after {
  display: none;

  @media screen and (min-width: @tablet-width) {
    top: 451px;
    display: block;
    clip: rect(0, 690px, 517px, 307px);
  }

  @media (min-width: @desktop-width) {
    top: -59px;
    clip: rect(0, 690px, 517px, 335px);
  }
}

.proof__case-number {
  font-size: 24px;
  font-weight: 400;
  text-align: center;

  @media screen and (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 27px;
  }
}

.proof__case-item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  margin-bottom: 27px;
  width: 121px;
  padding-top: 7px;
  padding-bottom: 10px;
  border: 1px solid #cdcdcd;

  @media screen and (min-width: @tablet-width) {
    width: 160px;
    padding-top: 20px;
    padding-bottom: 23px;
    margin-right: 42px;
  }
}

.proof__case-description {
  text-align: center;
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  color: #444444;
  position: absolute;
  left: 17px;
  right: 17px;
  top: 39px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 6px;
  font-size: 12px;
  line-height: 12px;
  background-color: #f2f2f2;

  @media screen and (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    left: 10px;
    right: 10px;
    top: 55px;
    background-color: #ffffff;
  }

  @media screen and (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.proof__case-description:nth-child(2) {
  padding-left: 10px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}

.proof__wrapper {
  .container();
  padding-left: 0;
  padding-right: 0;
  width: 320px;

  @media screen and (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: auto;
    padding-bottom: 0;
  }

  @media screen and (min-width: @desktop-width) {
    display: flex;
    background-color: #f2f2f2;
    justify-content: center;
    background-image: linear-gradient(to right, #f2f2f2 80%, #eaeaea 20%);
  }
}

.proof__wrapper-text {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: @tablet-width) {
    width: 708px;
    position: relative;
    margin-bottom: 228px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: @desktop-width) {
    width: 612px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
}
