.slogan {
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;

  @media (min-width: @tablet-width) {
    position: relative;
    width: @tablet-width;
    text-align: left;
    background: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
  }

    @media (min-width: @desktop-width) {
      min-height: 645px;
      width: @desktop-width;
    }
}

.slogan__text {
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #65a93c 305px, #ffffff 306px);
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #64a83b;
  min-height: 303px;

  @media screen and (min-width: @tablet-width) {
    background: white;
  }
}

.slogan__title {
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: 40px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 40px;

  @media screen and (min-width: @tablet-width) {
    padding: 0;
  }
}

.slogan__reason {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  padding-left: 59px;
  padding-right: 59px;
  margin-top: 18px;
  text-transform: uppercase;

  @media screen and (min-width: @tablet-width) {
    padding: 0;
  }
}
