.social {
  display: flex;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 78px;
  padding-right: 69px;

  @media (min-width: @desktop-width) {
    padding-top: 27px;
    padding-left: 80px;
  }
}

.social__link {
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
  text-decoration: none;
  width: 20px;
  height: 20px;
  margin-right: 35px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-right: 22px;
    width: 30px;
    height: 30px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 26px;
  }
}

.social__link--vkontakte svg {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 16px;
  }
}

.social__link--vkontakte {
  @media (min-width: @tablet-width) {
    margin-top: -5px;
    padding-left: 50px;
  }
}

.social__link--instagram svg {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
    margin-top: 0;
    margin-left: 2px;
  }
}

.social__link--instagram {
  @media (min-width: @tablet-width) {
    margin-top: -8px;
  }
}

.social__link--facebook svg {
  @media (min-width: @tablet-width) {
    width: 14px;
    height: 28px;
  }
}

.social__link--facebook {
  margin-top: -5px;
  @media (min-width: @tablet-width) {
    margin-top: -12px;
  }
}
