.toggle-control {
  @media screen and (min-width: @tablet-width) {
    width: 95px;
    font-size: 20px;
  }
}

.toggle-control--left {
  text-align: right;
  width: 85px;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media screen and (min-width: @tablet-width) {
    font-size: 20px;
    padding-right: 5px;
  }
}

.toggle-control--right {
  text-align: left;
  width: 85px;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media screen and (min-width: @tablet-width) {
    font-size: 20px;
    padding-left: 5px;
  }
}
